{
  "log": {
    "_recordingName": "fetch-apple-mdm",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "68692ed96e085eab550b21a15bbb26da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.jumpcloud.com/api/organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"totalCount\":1,\"results\":[{\"_id\":\"6516be7eac1f57664752c607\",\"id\":\"6516be7eac1f57664752c607\",\"displayName\":\"Howdy\",\"logoUrl\":null,\"created\":\"2023-09-29T12:09:34.825Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a9-NflKxyXHk/YewClflj+a5XV3Fqo\""
            },
            {
              "name": "x-response-time",
              "value": "37.089ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 808,
      },
      {
        "_id": "9bc984d433d58335d7e7520eb03228a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://console.jumpcloud.com/api/v2/applemdms?limit=100&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 711,
            "text": "[{\"id\":\"6516cf109f533600018db6e7\",\"name\":\"\",\"apnsPushTopic\":\"com.apple.mgmt.External.9fdfa315-100b-4169-9a80-7c1237e1d146\",\"depServerTokenState\":\"missing\",\"apnsCertExpiry\":\"2024-09-28T14:48:20.000Z\",\"defaultIosUserEnrollmentDeviceGroupID\":\"\",\"dep\":{\"welcomeScreen\":{\"title\":\"Welcome\",\"paragraph\":\"In just a few steps, you will be working securely from your Apple device.\",\"button\":\"continue\"},\"setupAssistantOptions\":[],\"enableZeroTouchEnrollment\":false},\"allowMobileUserEnrollment\":false,\"ades\":{\"macos\":{\"welcomeScreen\":{\"title\":\"Welcome\",\"paragraph\":\"In just a few steps, you will be working securely from your Apple device.\",\"button\":\"continue\"},\"setupAssistantOptions\":[],\"setupOptions\":[],\"enableZeroTouchEnrollment\":false,\"defaultDeviceGroupObjectIds\":[]},\"ios\":{\"welcomeScreen\":{\"title\":\"Welcome\",\"paragraph\":\"In just a few steps, you will be working securely from your Apple device.\",\"button\":\"continue\"},\"setupAssistantOptions\":[],\"setupOptions\":[],\"enableZeroTouchEnrollment\":false,\"defaultDeviceGroupObjectIds\":[]}},\"organization\":\"6516be7eac1f57664752c607\",\"appleCertCreatorAppleID\":\"gonzalo.avalos.ribas@contractor.jupiterone.com\",\"appleCertSerialNumber\":\"1d73b3e61e5a0485\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-total-count",
              "value": "1"
            },
            {
              "name": "etag",
              "value": "W/\"4a5-PYq0er4glcK8vSyuf6QucNw3YbQ\""
            },
            {
              "name": "x-response-time",
              "value": "31.494ms"
          [...]
